
<div class="container">
    
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Stock Exchange</th>
                <th>Brief</th>
                
            </tr>
        </thead> 
        <tbody>
            <tr>
                <td>NSE</td>
                <td>National Stock Exchange of India Limited is the leading stock exchange of India, located in Mumbai, Maharashtra. NSE was established in 1992 as the first dematerialized electronic exchange in the country.</td>
            </tr>
            <tr>
                <td>BSE</td>
                <td>The BSE SENSEX is a free-float market-weighted stock market index of 30 well-established and financially sound companies listed on Bombay Stock Exchange. The 30 component companies which are some of the largest and most actively traded stocks, are representative of various industrial sectors of the Indian economy.</td>
            </tr>
        </tbody>
        
    </table>
    
</div>
